@import '../../Variables.scss';

.headered-section {
	margin-bottom: 24px;
	width: 100%;

	.header {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
		justify-content: space-between;

		h4 {
			font-size: 12px;
			margin: 0 0 6px 0;
			color: $text;
		}

		.items {
			display: flex;

			button {
				color: white;
				font-size: 14px;
				border-radius: 2px;

				&:not(:last-of-type) {
					margin-right: 8px;
				}
			}
		}
	}
}
