@import '../../Variables.scss';

$scale: 0.2;

.toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: $main-light-dark;
	padding: 18px 24px;
	margin-bottom: 8px;
	font-size: 12px;
	user-select: none;

	.header {
		display: flex;
		align-items: center;

		span {
			margin-left: 12px;
		}
	}

	.switch {
		display: flex;
		align-items: center;

		.toggle-switch {
			padding-left: 12px;
		}
	}
}

.toggle-switch {
	input[type='checkbox'] {
		height: 0;
		width: 0;
		visibility: hidden;
		display: none;
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		width: calc(200px * $scale);
		height: calc(100px * $scale);
		background: grey;
		display: block;
		border-radius: 100px;
		position: relative;
	}

	label:after {
		content: '';
		position: absolute;
		top: calc(5px * $scale);
		left: calc(5px * $scale);
		width: calc(90px * $scale);
		height: calc(90px * $scale);
		background: #fff;
		border-radius: calc(90px * $scale);
		transition: 0.3s;
	}

	input:checked + label {
		background: $color-splash;
	}

	input:checked + label:after {
		left: calc(100% - 5px);
		transform: translateX(-100%);
	}

	label:active:after {
		width: calc(130px * $scale);
	}
}
