@import '../Variables.scss';

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	background-color: $main-dark;

	header {
		text-align: center;
		background-color: $main-dark;
		-webkit-app-region: drag;
		padding: 12px 0;
		border-bottom: 1px #2e373a solid;
	}

	main {
		display: flex;
		flex-grow: 1;

		.sidebar {
			min-width: 350px;
			background-color: $main-dark;
		}

		.content {
			width: 100%;
			background-color: $main-mid-dark;
			overflow: auto;
			position: relative;
		}
	}

	footer {
		padding: 8px 0;
		background-color: $main-dark;
		text-align: center;
		z-index: 1000;
		user-select: none;
	}
}
