@import '../../Variables.scss';

.nav-group {
  padding: 16px 20px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
      font-size: 14px;
      margin: 0;
      text-align: center;
      align-self: center;
      user-select: none;
    }
  }
}

.navigation-link {
  display: flex;
  flex-grow: 1;
  margin: 0;
  width: 100%;
  padding: 6px 12px;

  &:hover {
    background: linear-gradient(90deg, $main-mid-dark 0%, $main-dark 100%);

    span {
      opacity: 1;
    }
  }

  span {
    color: $text;
    height: 100%;
    opacity: 0.9;
    padding-left: 12px;
    text-align: center;
    align-self: center;
  }
}
