@import '../../Variables.scss';

.navigation-link {
  display: flex;
  flex-grow: 1;
  margin: 0;
  width: 100%;

  &:hover {
    background: linear-gradient(90deg, $main-mid-dark 0%, $main-dark 100%);

    span {
      opacity: 1;
    }
  }

  span {
    padding: 16px 24px;
    color: $text;
    opacity: 0.9;
  }
}
